<div id="kt_header" class="header no-print">
	<div class="container-fluid d-flex flex-stack">
		<div class="d-flex align-items-center me-5">
			<div class="d-lg-none btn btn-icon btn-active-color-white w-30px h-30px ms-n2 me-3" id="kt_aside_toggle">
				<i class="fa-light fa-bars fs-3"></i>
			</div>

			<a asp-controller="Home" asp-action="Index">
				<img alt="Logo" src="logo.png" class="h-30px h-lg-40px theme-light-show">

				<img alt="Logo" src="logo.png" class="h-30px h-lg-40px theme-dark-show">
			</a>
		</div>
	</div>
</div>