@model CRM.Application.ViewModels.Formularios.FormularioErroViewModel

@{
    ViewData["Title"] = Model.Titulo;
}

<div class="toolbar mb-5">
    <div class="page-title d-flex flex-column me-3">

        <h1 class="d-flex text-gray-900 fw-bold my-1 fs-3">@ViewData["Title"]</h1>

        <ul class="breadcrumb breadcrumb-dot fw-bold text-gray-600 fs-7 my-1">

            <li class="breadcrumb-item text-gray-600">
                Formularios
            </li>
            <li class="breadcrumb-item text-gray-600">
                Responder
            </li>
            <li class="breadcrumb-item text-gray-600">
                Erro
            </li>
        </ul>
    </div>
</div>

<section class="alert alert-danger d-flex align-items-center p-6">
    <span class="fa-light fa-circle-xmark fa-3x me-4 mb-5 mb-sm-0"></span>

    <div class="d-flex flex-column">
        <h3 class="fw-bold text-danger mb-1">@Model.Titulo</h3>
        <span>@Html.Raw(Model.MensagemErro)</span>
    </div>
</section>
<div class="d-flex justify-content-end">
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline btn-outline-light-dark btn-color-gray-600 btn-outline-default btn-active-secondary">
        Voltar ao Início
    </a>
</div>
