<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-color fw-semibold py-4 fs-base w-150px" data-kt-menu="true" data-kt-element="theme-mode-menu" style="">

	<div class="menu-item px-3 my-0">
		<a href="#" class="menu-link px-3 py-2 active" data-kt-element="mode" data-kt-value="light">
			<span class="menu-icon" data-kt-element="icon">
				<i class="fa-regular fa-sun-bright fs-3"></i>
			</span>
			<span class="menu-title">Claro</span>
		</a>
	</div>

	<div class="menu-item px-3 my-0">
		<a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="dark">
			<span class="menu-icon" data-kt-element="icon">
				<i class="fa-regular fa-moon-stars fs-3"></i>
			</span>
			<span class="menu-title">Escuro</span>
		</a>
	</div>

	<div class="menu-item px-3 my-0">
		<a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="system">
			<span class="menu-icon" data-kt-element="icon">
				<i class="fa-regular fa-arrow-pointer fs-3"></i>
			</span>
			<span class="menu-title">Sistema</span>
		</a>
	</div>
</div>