<div class="d-flex align-items-center ms-1">
	<a href="#" class="btn btn-icon btn-color-white bg-hover-white bg-hover-opacity-10 w-30px h-30px h-40px w-40px" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
		<div class="btn btn-icon btn-color-gray-500 bg-hover-dark bg-hover-opacity-10 w-30px h-30px h-40px w-40px">
			<i class="fa-regular fa-sun-bright theme-light-show fs-3"></i>

			<i class="fa-regular fa-moon-stars theme-dark-show fs-3"></i>
		</div>
	</a>

	@await Html.PartialAsync("layout/theme-mode/__menu")
</div>