		
		<!--begin::Engage drawers-->

@*@Html.Partial("layout/engage/demos/_main")*@
<partial name="layout/engage/demos/_main" />


@*@Html.Partial("layout/engage/help/_main")*@
<partial name="layout/engage/help/_main" />

		<!--end::Engage drawers-->
		<!--begin::Engage toolbar-->
		<div class="engage-toolbar d-flex position-fixed px-5 fw-bolder zindex-2 top-50 end-0 transform-90 mt-20 gap-2">

@*@Html.Partial("layout/engage/demos/__toggle")*@
<partial name="layout/engage/demos/__toggle" />


@*@Html.Partial("layout/engage/help/__toggle")*@
<partial name="layout/engage/help/__toggle" />


@*@Html.Partial("layout/engage/purchase/_main")*@
<partial name="layout/engage/purchase/_main" />

		</div>
		<!--end::Engage toolbar-->
		